/* body {

} */

.message__container {
	display: grid;
	place-content: center;
	width: 100vw;
	height: 100vh;
	padding: 50px;
	text-align: center;
	font-family: 'Inter', sans-serif;
	background-color: #fff5f9;
}
.message__container img {
	width: 500px;
}

.message__container h1 {
	font-weight: 600;
}

.message__container a {
	font-weight: var(--fw-semiBold);
	font-size: var(--fs-medium);
	color: var(--color-btn-primary);
}

@media screen and (max-width: 768px) {
	.message__container img {
		width: 280px;
	}
}
