/* HEADER */

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background: transparent;
	padding: 15px 0;
	height: 80px;
	z-index: 10;
	transition: all 300ms ease-in;
}

header.active {
	background: rgba(255, 255, 255, 0.918);
}

.header__container {
	width: 100%;
	padding: 0 44px;
	margin: 0 auto;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: all 150ms ease-out;
	max-width: 1200px;
}

.header__logo {
	font-weight: var(--fw-extraBold);
	font-size: var(--fs-large);
	color: var(--color-primary);
	letter-spacing: var(--ls-logo);
}

.header__right {
	display: flex;
	align-items: center;
}

.header__cart {
	cursor: pointer;
	transition: transform 250ms ease;
}

.header__cart:hover {
	transform: scale(1.1);
}

.header__middle {
	width: 30%;
	display: flex;
	justify-content: space-between;
}
.header__nav-link {
	font-weight: var(--fw-semiBold);
	font-size: var(--fs-base);
	transition: color 250ms ease;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 0)
		),
		linear-gradient(var(--color-primary), var(--color-primary));
	background-size: 100% 2px, 0 2px;
	background-position: 100% 100%, 0 100%;
	background-repeat: no-repeat;
	transition: background-size 250ms ease-in;
}

.header__nav-link:hover {
	color: var(--color-primary);
	background-size: 0 2px, 100% 2px;
}

.burger {
	width: 24px;
	stroke: var(--color-text);
	display: none;
}

.backdrop {
	display: none;
}

.sidebar {
	display: none;
}

.navactive {
	background-size: 0 2px, 100% 2px;
	color: var(--color-primary);
}

/* .header__cart {
	width: 24px;
	stroke: var(--color-text);
} */

/* MOBILE */
@media screen and (max-width: 768px) {
	.backdrop {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.342);
		backdrop-filter: blur(5px);
		z-index: 11;
	}

	.header__logo {
		font-size: var(--fs-large);
	}
	.header__right {
		display: none;
	}

	.sidebar {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		position: fixed;
		z-index: 12;
		top: 0;
		left: 0;
		height: 100%;
		width: 70%;
		/* background: linear-gradient(to top, white, #ffc9dc); */
		background: white;
		transform: translateX(-100%);
		overflow: hidden;
	}

	.sidebar__container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		flex: 0.8;
	}

	.sidebar__logo {
		margin-right: auto;
		padding-left: 30px;
	}
	.sidebar__link {
		margin: 80px;
		padding: 20px;
		font-weight: var(--fw-semiBold);
		transition: color 250ms ease-in;
	}

	.sidebar__link:hover {
		color: var(--color-primary);
	}

	.header__container {
		padding: 0 20px;
	}

	.burger {
		display: block;
		cursor: pointer;
	}

	.header__cart {
		display: none;
	}
}
