.review {
	padding-left: 0px;
	padding-right: 0px;
	height: 100vh;
	padding-bottom: 40px;
	/* background-image: linear-gradient(
		to top,
		rgba(255, 255, 255, 0.287),
		#ffdfea
	); */
	height: auto;
}
.review__top {
	text-align: center;
	padding-bottom: 50px;
}

.review__wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	place-items: center;
	place-content: center;
	width: 80%;
	margin: 0 auto;
	gap: 50px;
}

.review__cards-top {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.review__card {
	align-items: start;
}
.review__cards-bottom {
	display: flex;
}

.review__card-bottom > blockquote {
	margin: 0;
	/* font-size: var(--fs-base); */
	font-weight: var(--fw-semiBold);
}
.review__card-bottom > blockquote::before {
	content: open-quote;
}

.review__card-bottom > blockquote::after {
	content: close-quote;
}
.review__card {
	background-color: white;
	width: 350px;
	height: 200px;
	padding: 16px;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	box-shadow: var(--shadow-card);
}

.review__card-top {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 10px;
}

.review__card-profile {
	width: 64px;
	height: 64px;
	border-radius: 100%;
	margin-right: 10px;
}

.review__card-name {
	margin: 0;
	margin-bottom: 10px;
}
.review__card-bottom {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 1.8;
	font-weight: var(--fw-regular);
}

.review__card-right img {
	width: 18px;
}

@media screen and (max-width: 768px) {
	.review__top {
		padding-bottom: 0;
		padding: 0 10px;
	}
	.review__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 90%;
	}
	.review__card {
		width: 250px;
		height: 180px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.review__card:nth-child(odd) {
		margin-left: auto;
	}
	.review__card:nth-child(even) {
		margin-right: auto;
	}

	.review__card-profile {
		width: 40px;
		height: 40px;
	}

	.review__card-name {
		/* font-size: (--fs-medium); */
		margin-bottom: 5px;
	}
	.review__card-bottom {
		line-height: 1.4;
	}
}
